* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: #080808;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  position: relative;
  display: block;
  height: 15vh;
  width: 100%;
  background: #080808;
  z-index: 1;
  color: white;
}

.skyline {
  position: relative;

  width: 100%;
  height: 70vh;

  background-size: cover;

  background-repeat: no-repeat;
}

.skyline-image {
  position: absolute;
  width: 100%;
  height: 70vh;
  top: 0vh;
  left: 0;
}

.tape-holder {
  position: relative;
  z-index: 2;
  width: 30%;
  height: 58%;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  background-image: url("https://freecodecampassets.s3.us-east-2.amazonaws.com/Portfolio+Assets+1/tapeTurquoiseTest.png");
  background-size: 100%;
  background-repeat: no-repeat;
  filter: drop-shadow(-8px 8px 10px black);
  animation: opac 4s ease forwards 0s;
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-links-in {
  position: relative;
  list-style-type: none;
  top: 135px;
  position: inline;
  width: 80%;
  margin-left: 50%;
  transform: translateX(-50%);
  background: transparent;
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: opacity 7s;
  z-index: 6;
}

.fade-links-out {
  position: relative;
  list-style-type: none;
  margin-top: 135px;
  position: inline;
  width: 80%;
  margin-left: 50%;
  transform: translateX(-50%);
  background: transparent;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: opacity 3s;
}
.link {
  color: #f0ebe9;
  font-family: "Six Caps", sans-serif;
  font-size: 40px;
  border-style: none;
  border-width: 1px;
  width: 20%;
  float: left;
  background: transparent;
}

.foot {
  position: relative;

  height: 30vh;
  width: 100%;
  background: #080808;

  color: white;
}

.skills-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  top: 200px;
  width: 90%;
  background: transparent;
}

.skills-image {
  width: 50px;
  height: 50px;
}

.skills-holder {
  width: 150px;
  font-size: 15px;
  border-style: none;
  border-width: 1px;
  color: white;
}

.fade-accounts-in {
  position: relative;
  opacity: 1;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  width: 40%;
  background: transparent;
  transition: opacity 11s;
}

.fade-accounts-out {
  position: relative;
  opacity: 0;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  width: 40%;
  background: transparent;
  transition: opacity 3s;
}

.account-holder {
  width: 100px;
  color: white;

  background: transparent;
  font-size: 10px;
}

.account-image {
  width: 20px;
  height: 20px;
}

.st0 {
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 5;
}
#full-name {
  position: relative;
  margin-top: 13%;

  height: 70%;
  width: 70%;
  background: transparent;
}
#soft-dev {
  position: relative;
  margin-top: 20%;

  height: 70%;
  width: 70%;
  background: transparent;
}

.fade-port-out {
  position: absolute;
  opacity: 0;
  top: 0vh;
  width: 100%;
  height: 80vh;
  background: #080808;
  z-index: 5;
  transition: opacity 1s;
}
.fade-port-in {
  position: absolute;
  opacity: 1;
  top: 0vh;

  left: 0;

  width: 100%;
  height: 80vh;
  background: #080808;

  z-index: 4;
  transition: opacity 1s;
}

img.source-image {
  width: 100%;
  position: absolute;
  height: 70vh;
  top: 0;
  left: 0;
  z-index: 8;
}

.app-image {
  position: absolute;
  transform: scale(0.2);

  top: -80vh;
}

.exit-button {
  background: black;
  color: white;
  border-radius: 3px;
  border-style: none;
  position: absolute;
  height: 25px;
  width: 25px;
  top: 4vh;
  left: 96%;
  font-size: 20px;
  z-index: 9;
  opacity: 0.6;
}

.next-button {
  position: absolute;
  height: 25px;
  width: 25px;
  z-index: 11;
  left: 48%;
  top: 4vh;
  background: black;
  border-radius: 2px;
  border-style: none;
  color: white;
  text-align: center;
  transform: translateX(-50%);
}

.prev-button {
  position: absolute;
  z-index: 12;
  height: 25px;
  width: 25px;
  left: 52%;
  top: 4vh;
  background: black;
  border-radius: 2px;
  border-style: none;
  color: white;
  text-align: center;
  transform: translateX(-50%);
}

.card {
  position: relative;
  z-index: 10;
  transform: scale(0.2);
  top: -75vh;
}

#soft-dev path:nth-child(1) {
  stroke-dasharray: 762.881;
  stroke-dashoffset: 762.881;
  animation: line-anim 2s ease forwards 2.4s, fill 2s ease forwards 2.7s;
}
#soft-dev path:nth-child(2) {
  stroke-dasharray: 540.628;
  stroke-dashoffset: 540.628;
  animation: line-anim 2s ease forwards 2.25s, fill 2s ease forwards 2.55s;
}
#soft-dev path:nth-child(3) {
  stroke-dasharray: 380.007;
  stroke-dashoffset: 380.007;
  animation: line-anim 2s ease forwards 2.1s, fill 2s ease forwards 2.4s;
}
#soft-dev path:nth-child(4) {
  stroke-dasharray: 380.365;
  stroke-dashoffset: 380.365;
  animation: line-anim 2s ease forwards 1.95s, fill 2s ease forwards 2.25s;
}
#soft-dev path:nth-child(5) {
  stroke-dasharray: 661.242;
  stroke-dashoffset: 661.242;
  animation: line-anim 2s ease forwards 1.8s, fill 2s ease forwards 2.1s;
}
#soft-dev path:nth-child(6) {
  stroke-dasharray: 634.453;
  stroke-dashoffset: 634.453;
  animation: line-anim 2s ease forwards 1.65s, fill 2s ease forwards 1.95s;
}
#soft-dev path:nth-child(7) {
  stroke-dasharray: 285.905;
  stroke-dashoffset: 285.905;
  animation: line-anim 2s ease forwards 1.5s, fill 2s ease forwards 1.8s;
}
#soft-dev path:nth-child(8) {
  stroke-dasharray: 625.696;
  stroke-dashoffset: 625.696;
  animation: line-anim 2s ease forwards 1.35s, fill 2s ease forwards 1.65s;
}
#soft-dev path:nth-child(9) {
  stroke-dasharray: 711.991;
  stroke-dashoffset: 711.991;
  animation: line-anim 2s ease forwards 1.2s, fill 2s ease forwards 1.5s;
}
#soft-dev path:nth-child(10) {
  stroke-dasharray: 625.696;
  stroke-dashoffset: 625.696;
  animation: line-anim 2s ease forwards 1.05s, fill 2s ease forwards 1.35s;
}
#soft-dev path:nth-child(11) {
  stroke-dasharray: 396.069;
  stroke-dashoffset: 396.069;
  animation: line-anim 2s ease forwards 0.9s, fill 2s ease forwards 1.2s;
}
#soft-dev path:nth-child(12) {
  stroke-dasharray: 625.695;
  stroke-dashoffset: 625.695;
  animation: line-anim 2s ease forwards 0.75s, fill 2s ease forwards 1.05s;
}
#soft-dev path:nth-child(13) {
  stroke-dasharray: 275.305;
  stroke-dashoffset: 275.305;
  animation: line-anim 2s ease forwards 0.6s, fill 2s ease forwards 0.9s;
}
#soft-dev path:nth-child(14) {
  stroke-dasharray: 540.629;
  stroke-dashoffset: 540.629;
  animation: line-anim 2s ease forwards 0.45s, fill 2s ease forwards 0.75s;
}
#soft-dev path:nth-child(15) {
  stroke-dasharray: 621.732;
  stroke-dashoffset: 621.732;
  animation: line-anim 2s ease forwards 0.3s, fill 2s ease forwards 0.6s;
}
#soft-dev path:nth-child(16) {
  stroke-dasharray: 625.696;
  stroke-dashoffset: 625.696;
  animation: line-anim 2s ease forwards 0.15s, fill 2s ease forwards 0.45s;
}
#soft-dev path:nth-child(17) {
  stroke-dasharray: 285.906;
  stroke-dashoffset: 285.906;
  animation: line-anim 2s ease forwards, fill 2s ease forwards 0.2s;
}
#full-name path:nth-child(1) {
  stroke-dasharray: 716.759;
  stroke-dashoffset: 716.759;
  animation: line-anim 2s ease forwards, fill 2s ease forwards 0.2s;
}
#full-name path:nth-child(2) {
  stroke-dasharray: 634.452;
  stroke-dashoffset: 634.452;
  animation: line-anim 2s ease forwards 0.15s, fill 2s ease forwards 0.45s;
}
#full-name path:nth-child(3) {
  stroke-dasharray: 610.324;
  stroke-dashoffset: 610.324;
  animation: line-anim 2s ease forwards 0.3s, fill 2s ease forwards 0.6s;
}
#full-name path:nth-child(4) {
  stroke-dasharray: 285.905;
  stroke-dashoffset: 285.905;
  animation: line-anim 2s ease forwards 0.45s, fill 2s ease forwards 0.75s;
}
#full-name path:nth-child(5) {
  stroke-dasharray: 237.8;
  stroke-dashoffset: 237.8;
  animation: line-anim 2s ease forwards 0.6s, fill 2s ease forwards 0.9s;
}
#full-name path:nth-child(6) {
  stroke-dasharray: 625.695;
  stroke-dashoffset: 625.695;
  animation: line-anim 2s ease forwards 0.75s, fill 2s ease forwards 1.05s;
}
#full-name path:nth-child(7) {
  stroke-dasharray: 275.305;
  stroke-dashoffset: 275.305;
  animation: line-anim 2s ease forwards 0.9s, fill 2s ease forwards 1.2s;
}
#full-name path:nth-child(8) {
  stroke-dasharray: 603.8;
  stroke-dashoffset: 603.8;
  animation: line-anim 2s ease forwards 1.05s, fill 2s ease forwards 1.35s;
}
#full-name path:nth-child(9) {
  stroke-dasharray: 634.447;
  stroke-dashoffset: 634.447;
  animation: line-anim 2s ease forwards 1.2s, fill 2s ease forwards 1.5s;
}
#full-name path:nth-child(10) {
  stroke-dasharray: 461.017;
  stroke-dashoffset: 461.017;
  animation: line-anim 2s ease forwards 1.35s, fill 2s ease forwards 1.65s;
}
#full-name path:nth-child(11) {
  stroke-dasharray: 598.779;
  stroke-dashoffset: 598.779;
  animation: line-anim 2s ease forwards 1.5s, fill 2s ease forwards 1.8s;
}
#full-name path:nth-child(12) {
  stroke-dasharray: 463.811;
  stroke-dashoffset: 463.811;
  animation: line-anim 2s ease forwards 1.65s, fill 2s ease forwards 1.95s;
}
#full-name path:nth-child(13) {
  stroke-dasharray: 523.214;
  stroke-dashoffset: 523.214;
  animation: line-anim 2s ease forwards 1.8s, fill 2s ease forwards 2.1s;
}
#full-name path:nth-child(14) {
  stroke-dasharray: 237.8;
  stroke-dashoffset: 237.8;
  animation: line-anim 2s ease forwards 1.95s, fill 2s ease forwards 2.25s;
}
#full-name path:nth-child(15) {
  stroke-dasharray: 275.306;
  stroke-dashoffset: 275.306;
  animation: line-anim 2s ease forwards 2.1s, fill 2s ease forwards 2.4s;
}
#full-name path:nth-child(16) {
  stroke-dasharray: 610.273;
  stroke-dashoffset: 610.273;
  animation: line-anim 2s ease forwards 2.25s, fill 2s ease forwards 2.55s;
}
#full-name path:nth-child(17) {
  stroke-dasharray: 380.365;
  stroke-dashoffset: 380.365;
  animation: line-anim 2s ease forwards 2.4s, fill 2s ease forwards 2.7s;
}
@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: black;
  }
}

.portfolio {
  position: relative;
  width: 100%;
  height: 500px;
  background: #385eab;
}
